import("survival")

importFrom("stats", "sd", "median", "quantile", "residuals", "coef")
importFrom("graphics", "plot", "abline", "lines")

export(
    "NADAprobs",
    "splitQual",
    "pct.censored",
    "Cen",
    "cenfit",
    "cendiff",
    "cenmle",
    "cenreg",
    "cenros",
    "ros",
    "lros",
    "hc.ppoints",
    "hc.ppoints.cen",
    "hc.ppoints.uncen")

exportClasses(
    "ros",
    "cenfit",
    "cenmle",
    "cenmle-lognormal",
    "cenmle-gaussian")

exportMethods(
    "print",
    "plot",
    "summary",
    "mean",
    "sd",
    "median",
    "quantile",
    "predict",
    "pexceed",
    "flip",
    "asSurv",
    "lines",
    "coef",
    "residuals")

S3method("as.data.frame", "ros")

