import("survival")

importFrom("stats", "sd", "median", "quantile", "residuals", "coef", "cor")
importFrom("graphics", "plot", "abline", "lines", "boxplot")

export(
    "NADAprobs",
    "splitQual",
    "pctCen",
    "Cen",
    "cenfit",
    "cendiff",
    "cenmle",
    "cenreg",
    "cenros",
    "cenken",
#    "kendallATS",
    "cenboxplot",
    "cenxyplot",
    "censummary",
    "censtats",
    "ros",
    "hc.ppoints",
    "hc.ppoints.cen",
    "hc.ppoints.uncen")

exportClasses(
    "ros",
    "cenfit",
    "cenreg",
    "cenreg-lognormal",
    "cenreg-gaussian",
    "cenmle",
    "cenmle-lognormal",
    "cenmle-gaussian",
    "summary.cenreg")

exportMethods(
    "print",
    "plot",
    "boxplot",
    "summary",
    "mean",
    "sd",
    "median",
#    "min",
#    "max",
    "quantile",
    "predict",
    "pexceed",
    "flip",
    "asSurv",
    "lines",
#    "abline",
    "coef",
    "residuals",
    "cor")

S3method("as.data.frame", "ros")

